html {
    font-size: 16px;

    @media only screen and (min-width: 1600px) {
        font-size: 18px;
    }

    @media only screen and (max-width: 640px) {
        font-size: 12px;
    }
}

body {
    background-color: $background-color;
    font-family: $font-family-base;
    font-size: 1rem;
    @include font-smoothing();

    margin: 0;
    padding: 0;
}

a {
    color: $link-color;

    &:hover, &.active {
        color: $brand-primary;
    }
}

a:focus {
  outline: 0;
  border-color: $link-color;
}

h1 {
    font-size: 2rem;
    line-height: 3rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h3 {
    font-size: 1.25rem;
    line-height: 2rem;
}

h4 {
    font-size: 1.125rem;
    line-height: 2rem;
}

h5 {
    font-size: 1rem;
    line-height: 1rem;
}

h6 {
    font-size: .875rem;
    line-height: 1rem;
}

p {
  line-height: 1.25rem;
  margin: 0 0 .75rem;
}

p + img {
  margin-top: 1.5rem;
}

.transition-ws {
    transition: all .2s linear;
}

.container-skills:last-child {
    margin-bottom: 0;
}

.illustration {
    width: 100%;
    max-width: 100%;
    height: auto;
    
    position: absolute;
    top: 3.125rem;
    right: -13.7rem;
}
