html {
    font-size: 16px;

    @media only screen and (min-width: 1600px) {
        font-size: 18px;
    }

    @media only screen and (max-width: 800px) {
        font-size: 14px;
    }
}

#root {
    overflow-x: hidden;
}

body {
    background-color: $background-color;
    font-family: $font-family-base;
    font-size: 1rem;
    @include font-smoothing();

    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    line-height: 3rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h3 {
    font-size: 1.25rem;
    line-height: 2rem;
}

h4 {
    font-size: 1.125rem;
    line-height: 2rem;
}

h5 {
    font-size: 1rem;
    line-height: 1rem;
}

h6 {
    font-size: .875rem;
    line-height: 1rem;
}

p {
  line-height: 1.25rem;
  margin: 0 0 .75rem;
}

p + img {
  margin-top: 1.5rem;
}

.transition-ws {
    transition: all .2s linear;
}

.container-skills:last-child {
    margin-bottom: 0;
}

.illustration {
    max-width: 100%;
    height: auto;
    
    position: absolute;
    top: 3.125rem;
    right: -12.1rem;

    z-index: -1;

    @include rwd-max-width(1280px) {
        top: 10rem;
        right: -14rem;
    }

    &.-contact {
        max-width: 70%;
        right: -6rem;
    }
}

.title span {
    display: inline-block;
    background-color: $brand-primary;
    color: $white;
    transform: translateX(-2rem);
}

.button {
    outline: none;

    &.-default {
        width: auto;
        height: auto;

        display: inline-block;

        margin-top: 3.75rem;
        padding: .4rem 2rem;

        border: 2px solid $black;
        background-color: none;

        font-size: 1rem;
        font-weight: 700;
        color: $black;
        letter-spacing: 0.025em;
        text-transform: uppercase;

        position: relative;

        transition: all .2s linear;

        &:hover {
            &::before {
                transform: translateX(0) translateY(0);
                background-color: #EDF2F6;
            }
        }

        &::before {
            content: "";

            position: absolute;
            top: 0;
            left: 0;

            transform: translateX(-.6rem) translateY(50%);

            width: 100%;
            height: 100%;

            background-color: #F7FAFC;
            z-index: -1;
            transition: all .2s linear;
        }
    }
}

.link {
    position: relative;

    &::before {
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        transform: translateX(-10%) translateY(50%);

        width: 0;
        height: 80%;

        background-color: #F7FAFC;
        z-index: -1;
        transition: all .2s linear;
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }
}

.keywords {
    li {
        position: relative;

        &::before {
            content: "";

            position: absolute;
            top: 0;
            left: 0;

            transform: translateX(-10%) translateY(50%);

            width: 100%;
            height: 100%;

            background-color: #F7FAFC;
            z-index: -1;
            transition: all .2s linear;
        }
    }
}