// -------------------------------------
// Basic colors
// -------------------------------------

$white:                     #FFFFFF;
$black:                     #000000;


// -------------------------------------
// Brand colors
// -------------------------------------

$brand-primary:             #DCAB3A;
$brand-secondary:           #377AF4;

$background-color:          #E2E8F0;
$link-color:                $brand-secondary;
$link-hover-color:          $brand-secondary;


// -------------------------------------
// Fonts
// -------------------------------------

$brand-font:                'Muli', sans-serif;
$font-family-base:          $brand-font;


// -------------------------------------
// Other
// -------------------------------------

$border-color:              rgba($black, .1);
$box-shadow-color:          rgba($black, .04);
